[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.0"
pandas = "==1.1.5"
gcloud = "== 0.18.3"
google = "==3.0.0"
google-auth = "==1.27.1"
google-api-core = "==1.26.1"
google-cloud = "==0.34.0"
google-cloud-bigquery= "==2.11.0"

[dev-packages]

[requires]
python_version = "3.9"
